<b id="backdrop" onclick="hide_sidebar()" class="fixed hidden md:hidden bg-black opacity-60 top-0 left-0 right-0 bottom-0 z-30"></b>
<div class="flex min-h-screen dark:bg-gray-900">
    <%= render partial:'partials/aside'%>
    <main class="w-full">
        <%= render partial:'partials/header'%>
         <section class="container p-6 mx-auto">
        <article class="relative bg-gray-500 p-4 sm:p-6 rounded overflow-hidden mb-6">
          <div class="" aria-hidden="true">
            <h1 class="text-2xl md:text-3xl text-white font-bold mb-1">Good day, Shop Inc. 👋</h1>
            <p class="text-white">Here is what’s happening with your projects today:</p></div>
        </article>



        <div class="grid gap-6 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3  mb-5">
            <article class="bg-white rounded shadow-sm border border-gray-200">
              <div class="p-5">
                  <h2 class="text-lg font-semibold text-black">Sales revenue</h2>
                  <small class="font-bold text-gray-400  uppercase mb-1">JANUARY</small>
                  <div class="flex items-start">
                    <h4 class="text-3xl font-bold mr-2">$12,480</h4>
                    <b class="text-sm font-semibold text-white px-1.5 bg-green-500 rounded-full">+49%</b>
                  </div>
                  <hr class="my-4">
                  <a href="#" class="hover:text-blue-600">Show all reports</a>
              </div>
            </article>
          
            <article class="bg-white rounded shadow-sm border border-gray-200">
                <div class="p-5">
                  <h2 class="text-lg font-semibold text-black">Expenses</h2>
                  <small class="font-bold text-gray-400  uppercase mb-1">JANUARY</small>
                  <div class="flex items-start">
                    <h4 class="text-3xl font-bold mr-2">$892,000</h4>
                    <b class="text-sm font-semibold text-white px-1.5 bg-red-400 rounded-full">+24%</b>
                  </div>
                  <hr class="my-4">
                  <a href="#" class="hover:text-blue-600">Show all reports</a>
              </div>
            </article>

            <article class="bg-white rounded shadow-sm border border-gray-200">
              <div class="p-5">
                  <h2 class="text-lg font-semibold text-black">Purchases</h2>
                  <small class="font-bold text-gray-400  uppercase mb-1">JANUARY</small>
                  <div class="flex items-start">
                    <h4 class="text-3xl font-bold mr-2">$8,790</h4>
                    <b class="text-sm font-semibold text-white px-1.5 bg-green-500 rounded-full">+18%</b>
                  </div>
                  <hr class="my-4">
                  <a href="#" class="hover:text-blue-600">Show all reports</a>
              </div>
            </article>
        </div> <!-- grid.// -->


    </section> <!-- container -->
    </main>
</div>