<header class="h-14 z-10 py-3 bg-white shadow-sm border-b border-gray-200">
    <div class="container h-full flex items-center justify-between px-6 mx-auto">
        <!-- Mobile hamburger -->
        <button onclick="open_sidebar()" class="p-1 mr-5  md:hidden focus:outline-none focus:shadow-outline-purple">
            <svg xmlns="http://www.w3.org/2000/svg" height="28" width="28" viewBox="0 0 24 24" fill="currentColor">
            <path fill="currentColor" d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
            </svg>
        </button>

        <div class="relative">
        </div>  
        <ul class="flex items-center flex-shrink-0 space-x-2">
            <li>
                <button class="w-10 h-10 flex items-center justify-center bg-gray-200 border border-transparent rounded-full hover:border-blue-400 overflow-hidden" aria-label="Button name">
                    <%= image_tag 'avatars/avatar.jpg', size:"32x32", class:"w-10 h-10 rounded-full"%>
                </button>
            </li>
        </ul>
         
    </div>
</header>