<!--  INTRO SECTION  -->
<section class="bg bg-blue-500">
    <div class="container max-w-screen-xl mx-auto px-4">
        
        <div class="pl-5 py-10 sm:py-20">
            <article class="my-10">
                <h1 class="text-3xl md:text-5xl text-white font-bold">
                    Best products &amp; <br>brands in our store
                </h1>
                <p class="text-lg text-white font-normal mt-4 mb-6">
                Trendy Products, Factory Prices, Excellent Service
                </p>
                <div>
                    <a class="px-4 py-2 inline-block font-semibold bg-yellow-500 text-white border border-transparent rounded-md hover:bg-yellow-600" href="#">
                        Discover
                    </a>
                    <a class="px-4 py-2 inline-block font-semibold text-blue-600 border border-transparent rounded-md hover:bg-gray-100 bg-white" href="#">
                        Learn more
                    </a>
                </div>
            </article>
        </div>

    </div> <!-- container //end -->
</section>
<!--  INTRO SECTION //END -->