<div class="mb-3">
  <%= link_to "#", class: "btn btn-outline-dark" do %>
    <div class="badge bg-primary">
      <%= render "shop_carts/item_count", count: current_cart.quantity %>
    </div>
    Checkout
  <% end %>
</div>