<%= link_to  products_path(category_id: category.id) do %>

        <div class="flex items-center justify-center w-16 h-16 mx-auto mb-2 rounded-full bg-blue-100 group-hover:bg-blue-200">
            <%= image_tag category.image, class:"mx-auto w-auto", size:"32x32" %>
        </div>

        <p class="text-center text-gray-600 group-hover:text-blue-600">  <%= category.name %>  </p>


<%end%>