<section class="container max-w-3xl p-6 mx-auto">
    <article class="bg-white rounded shadow-sm border border-gray-200 p-4 lg:p-6 my-5">
    <h2 class="mb-3 text-xl md:text-2xl font-semibold text-black"> Create new product </h2>
        <%= render partial:'products/form'%>
    </article>
</section> <!-- container -->